.time-range-form {
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 5px 10px;
  width: 100%;
}

.receipt-img {
  display: block;
  height: 50%;
  width: 100%;
}

.error-message {
  padding: 5% 15%;
}

.search-bar {
  background-color: #f7f7f7;
  padding-bottom: 0.8%;
  padding-top: 0.3%;
}
