body {
  background: url('/img/landscape.jpg') center/cover no-repeat fixed;
}

h1 {
  color: aliceblue;
  font-family: 'Ewert', cursive;
  font-size: 45px;
  margin: 20px 0 0;
  text-align: center;
}

#description {
  margin: 20px 15px 0;
}

p {
  color: powderblue;
  font-size: 20px;
  text-align: center;
}

.container {
  bottom: 0;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
}

#login-link {
  display: block;
  font-size: 20px;
  margin: 0 auto 80px;
  width: 290px;
}

i {
  margin: 0 18px 0 0;
}

@media screen and (min-width: 480px) {
  h1 {
    font-size: 60px;
  }

  #description {
    margin: 40px 15vw 0;
  }

  p {
    font-size: 25px;
  }
}
