body {
  background: azure;
}

h1 {
  font-size: 40px;
  margin: 20px 0 0;
  text-align: center;
}

h2 {
  color: midnightblue;
  font-size: 25px;
  margin: 20px 0 0;
  text-align: center;
}

#description {
  margin: 20px 15px 0;
}

p {
  font-size: 20px;
  color: dimgray;
}

#login-link {
  display: block;
  font-size: 20px;
  margin: 50px auto;
  width: 290px;
}

i {
  margin: 0 18px 0 0;
}

@media screen and (min-width: 480px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 35px;
    margin: 20vh 20px 0;
  }

  #description {
    margin: 40px 15vw 0;
  }

  p {
    font-size: 25px;
    text-align: justify;
  }
}
