h1 {
  text-align: center;
}

.card {
  margin: auto;
  max-width: 600px;
  padding: 20px;
}

.label {
  margin: 0px;
}

.receipt-img {
  display: block;
  height: 50%;
  padding: 10px;
  width: 100%;
}
