#cancel-button {
  margin: 8px 0 0;
}

h1 {
  font-size: 40px;
  margin: 20px 0 0;
  text-align: center;
}

label {
  font-size: 20px;
}

#upload-form,
input {
  font-size: 40px;
}

#upload-form {
  background: linear-gradient(#e3ffe7 0%, #d9e7ff 100%);
  border: solid 2px transparent;
  border-radius: 30px;
  margin: 10px;
  padding: 4px;
}

#submit-receipt {
  display: block;
  margin: 45px auto 5px;
}

.custom-file {
  font-size: 0.5rem;
}

#receipt-image-label {
  margin: 0;
}

#receipt-image-input {
  display: none;
}

.custom-file-label {
  font-size: 1rem;
}

small {
  font-size: 12px;
}

.ldBar {
  margin: 0 calc(50% - 70px);
}

.ldBar rect {
  height: 150px;
  width: 150px;
}

.ldBar svg {
  overflow: inherit;
}

#loading {
  height: 150px;
  margin: 20px 0;
}

.hidden,
.ldBar-label {
  display: none;
}

@media screen and (min-width: 480px) {
  h1 {
    font-size: 50px;
  }

  #upload-form {
    text-align: center;
  }

  input {
    margin: auto;
  }

  label {
    font-size: 23px;
  }

  #upload-form {
    margin: 0 5%;
    padding: 1.5%;
  }

  .custom-file {
    height: 1rem;
  }

  .custom-file-label {
    font-size: 20px;
    position: relative;
    text-align: left;
    width: 24em;
  }
}
